<!DOCTYPE html>
<html>

<head>
  <link href="css/index.css" rel="stylesheet">
  <title>CCA Aerospace Club</title>
</head>

<body>
  {% include "navbar.njk" %}
  <header class="hero">
    <div class="hero-waves"></div>
    <!-- this is so incredibly hacky but it works so you can't complain-->
    <div class="hero-rocket-wrapper rellax" data-rellax-speed="-4">
      <img class="hero-rocket" src="img/rocket.png" />
    </div>
    <div class="hero-cover">
      <h1 class="hero-heading">Lift Off</h1>
    </div>
  </header>
  <header class="hero"></header>
</body>

</html>