.section.who-we-are {
  max-width: 90% !important;
}

.people {
  margin: 2.5rem 0 0 0 !important;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.person {
  display: inline-block;
  flex: 25%;
}

.person h3 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.person h4 {
  margin-top: 0.5rem;
  color: var(--chalk);
}

.person img {
  border-radius: 100% !important;
  height: 10rem;
  width: 10rem !important;
}
  
@media (max-width: 992px) {
  .people {
    flex-direction: column;
  }

  .person h3 {
    font-size: 3rem;
  }

  .person h4 {
    font-size: 1.5rem;
  }

  .person img {
    height: 16rem;
    width: 16rem !important;
  }
}