@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;900&display=swap");

:root {
  --bg: #001220;
  --cherry: #ff0040;
  --vampire: #fa7268;
  --blood: #ef5f67;
  --marigold: #eca72c;
  --crimson: #8b0216;
  --chalk: #f1e0c5;
}

body {
  overflow-x: hidden;
  background-color: var(--bg);
  color: #ffffff;
  font-family: "Epilogue";
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.125rem;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  background-size: 100% 0.125rem;
}

a::has(button) {
  background-size: 0% 0 !important;
}

p.text {
  /* This is the golden ratio so it feels pleasing to look at */
  line-height: 1.61803;
}

.button-primary {
  background-color: var(--cherry);
  color: #ffffff;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--crimson);
}

.button-secondary {
  background-color: var(--vampire);
  color: #ffffff;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: var(--blood);
}


.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0012208a;
  width: 100%;
  padding: 1rem 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 1rem;
  display: inline-block;
}

.navbar li > a {
  color: #ffffff;
  transition: color 0.3s, background-size 0.3s;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.navbar li > a:hover {
  color: var(--chalk);
}

.navbar li.active > a {
  pointer-events: none;
  color: var(--marigold);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.25rem;
}

.navbar .nav-logo {
  margin-left: 1rem;
  padding: 0 1rem;
  padding-right: 1.5rem;
  height: 1.5rem;
  border-right: var(--chalk) solid 0.125rem;
}

.navbar .nav-logo > a {
  font-weight: 900;
  font-size: 1.5rem;
  transition: color 0.3s, background-size 0.3s;
  color: var(--chalk);
}

.navbar .nav-logo a:hover {
  color: var(--cherry);
}

.navbar .main-nav {
  flex-grow: 1;
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: space-between;
}

.navbar .button-primary,
.navbar .button-secondary {
  padding: 0.5rem 1.5rem;
  font-weight: 700;
}

/* yet another hacky solution */
.navbar .right ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .button-group {
  gap: 0.5rem;
}

.navbar .socials-container {
  margin-left: 0;
  padding-left: 0.75rem;
  border-left: var(--chalk) solid 0.125rem;
}

.navbar .socials .social {
  background-size: 0% 0 !important;
  margin: 0 0.25rem;
  display: inline-block;
  fill: white;
  transition: 300ms;
  height: 1.5rem;
  width: 1.5rem;
}

.navbar .socials .social:hover {
  fill: var(--chalk);
}

.navbar #menu-toggle {
  display: none;
}

.navbar .menu-button-container {
  color: #ffffff;
  transition: color 0.3s;
  position: relative;
  display: none;
  height: 1.5rem; /* 100% doesn't work for some reason and i don't want to fix it rn */
  width: 2rem;
  margin: 0 1.5rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar .menu-button-container:hover {
  color: var(--chalk);
}

.navbar #menu-toggle:checked ~ .menu-button-container {
  color: var(--marigold);
}

.menu-button-container .menu-button,
.menu-button-container .menu-button::before,
.menu-button-container .menu-button::after {
  display: block;
  background-color: currentColor;
  position: absolute;
  height: 0.25rem;
  width: 2rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.15rem;
}

.menu-button-container .menu-button::before {
  content: "";
  margin-top: -0.5rem;
}

.menu-button-container .menu-button::after {
  content: "";
  margin-top: 0.5rem;
}

.section {
  display: flex;
  margin: 3rem auto;
}

.section.two-col {
  flex-direction: row;
  max-width: 64rem;
}

.section.two-col div {
  flex: 50%;
}

.section.spotlight {
  flex-direction: column;
  max-width: 64rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section div {
  margin: 0 1.5rem;
}

.section div img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.section h2 {
  margin: 0;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .section.two-col {
    flex-direction: column;
  }

  .section.spotlight {
    margin: 0 2rem;
  }

  .navbar {
    min-height: 1.5rem;
    padding: 1.5rem 0;
  }

  .navbar .nav-logo {
    padding: 0 1rem;
    margin-left: 0;
    height: 1.5rem;
    border-left: var(--chalk) solid 0.125rem;
    border-right: none;
  }

  .navbar .menu-button-container {
    display: flex;
  }

  /* note to future self: there should be paddings on the left and right side of the nav main */
  .navbar .main-nav {
    display: none;
  }

  .navbar .right ul {
    flex-direction: column;
  }

  .navbar .socials-container {
    border-left: none;
    /* i hate css. */
    margin-top: 0;
    padding-left: 0;
  }

  .navbar #menu-toggle:checked ~ .main-nav {
    position: fixed;
    padding-top: 6rem;
    min-width: 16rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: #001220da;
    height: calc(100% - 6rem);
    z-index: -5;
  }

  .navbar .main-nav div {
    width: 100%;
  }

  .navbar .main-nav ul li {
    display: block;
    margin: 1rem 1.5rem;
  }
}

.header {
  /* height + margin (t + b) */
  margin-top: calc(1.5rem + 1.5rem * 2);
  position: relative;
  min-height: 60vh;
}

.header-waves {
  position: relative;
  background-image: url("/img/layered-waves.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 60vh;
  bottom: 0;
  z-index: 4;
}

.header-base {
  width: 100%;
  min-height: 18rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-image: url("/img/hero-cover.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  transform: translateY(1rem) scaleX(1.1);
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .header-base {
    min-height: 9rem;
  }
}
