---
eleventyNavigation:
  key: About Us
  order: 1
---

<!DOCTYPE html>
<html>

  <head>
    {% include "meta.njk" %}
    <link href="/css/about-us.css" rel="stylesheet">
  </head>

  <body>
    {% include "navbar.njk" %}
    <header class="header">
      <div class="header-waves"></div>
      <div class="header-base">
        <h1 class="heading">ABOUT US</h1>
      </div>
    </header>
    <section class="section spotlight">
      <h2>We are CCA Aerospace</h2>
      <h3>We are CCA Aerospace, a diverse group of young and talented individuals filled with a passion to discover what is out there in the vast expanse of space. </h3>
      <h3> United in our love for STEM and fueled by a desire to explore our world and universe, we undertake challenges through our projects in an attempt to reshape and redefine what is thought to be possible for high school students to achieve.</h3>
    </section>
    <section class="section spotlight who-we-are">
      <h1 class="heading">WHO WE ARE</h1>
      <div class="people">
        <div class="person">
          <img src="/img/about-us/ryan-yuan.jpg"/>
          <h3>Ryan Yuan</h3>
          <h4>President</h4>
        </div>
        <div class="person">
          <img src="/img/about-us/aiden.jpg"/>
          <h3>Aiden Shi</h3>
          <h4>Vice President</h4>
        </div>
        <div class="person">
          <img src="/img/about-us/leher.jpg"/>
          <h3>Leher Gulati</h3>
          <h4>Secretary</h4>
        </div>
        <div class="person">
          <img src="/img/about-us/garima.jpg"/>
          <h3>Garima Thapliyal</h3>
          <h4>Treasurer</h4>
        </div>

      </div>
    </section>

  </body>

</html>