---
eleventyNavigation:
  key: About Us
  order: 1
---

<!DOCTYPE html>
<html>

  <head>
    {% include "meta.njk" %}
    <link href="/css/about-us.css" rel="stylesheet">
  </head>

  <body>
    {% include "navbar.njk" %}
    <header class="header">
      <div class="header-waves"></div>
      <div class="header-base">
        <h1 class="heading">ABOUT US</h1>
      </div>
    </header>
    <section class="section spotlight">
      <h2>We are CCA Aerospace</h2>
      <h3>A diverse group of young and talented individuals filled with a passion to discover what is out there in the vast expanse of space.</h3>
    </section>
    <section class="section spotlight stars-background">
      <h1 class="heading">Our Mission Statement</h1>
      <h2>TO EXPLORE THE UNIVERSE AND PUSH THE BOUNDRIES OF WHAT HIGH SCHOOLERS CAN DO.</h2>
    </section>

  </body>

</html>