---
eleventyNavigation:
  key: About Us
---

<!DOCTYPE html>
<html>

<head>
  <link href="/css/index.css" rel="stylesheet">
  <title>CCA Aerospace Club</title>
</head>

<body>
  {% include "navbar.njk" %}
  <h1 style="padding-top: 5rem;">uh hi. this is placeholder for now</h1>
</body>

</html>