---
eleventyNavigation:
  key: Home
  order: 0
---

<!DOCTYPE html>
<html>

  <head>
    {% include "meta.njk" %}
    <link href="/css/home.css" rel="stylesheet">
    <script src="/js/rellax.min.js" defer></script>
  </head>

  <body>
    {% include "navbar.njk" %}
    <header class="hero">
      <div class="hero-waves"></div>
      <!-- this is so incredibly hacky but it works so you can't complain-->
      <div class="hero-rocket-wrapper rellax" data-rellax-speed="-4">
        <img class="hero-rocket" src="img/rocket.png"/>
      </div>
      <div class="hero-base">
        <h1 class="hero-heading">LIFT OFF</h1>
      </div>
    </header>
    <div class="cover-the-wonky-animations-shhhh"></div>
    <section class="section">
      <div>
        <h2>Who We Are</h2>
        <p class="text">We are CCA Aerospace, a diverse group of young and talented individuals filled with a passion to discover what is out there in the vast expanse of space. United in our love for STEM and fueled by a desire to explore our world and universe, we undertake challenges through our projects in an attempt to reshape and redefine what is thought to be possible for high school students to achieve.</p>
      </div>
      <div>
        <img src="http://placekitten.com/400/200"/>
        <a href="/about-us">
          <button class="button-primary">Learn More</button>
        </a>
      </div>
    </section>
  </body>

</html>