
<!DOCTYPE html>
<html>

  <head>
    {% include "meta.njk" %}
    <title>CCA Aerospace | Join Us</title>
  </head>

  <body>
    {% include "navbar.njk" %}
    <header class="header">
      <div class="header-waves"></div>
      <div class="header-base">
        <h1 class="heading">JOIN US</h1>
      </div>
    </header>
  </body> 